{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Proyecto IWG</title>
    
</head>
<body>
    <header>
        <a href="https://usm.cl/" target="#">
            <img src= "{% static 'Logo.jpg'%}" class="header-image">
        </a>
        <h1>Bienvenido a Nuestro Proyecto</h1>
        <nav>
            <ul>
                <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT27SKvzbKLbpscvi8EffKeXYeUxqdZXNTwng&s" target ="_blank">Tu Consumo</a></li>
                <li><a href="https://es.wikipedia.org/wiki/Movilidad_sostenible" target="_blank">Acerca de</a></li>
                <li><a href="https://github.com/4lf4p0l4r1s/IWGproject" target="_blank">Repositorio</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="main-background"></div>
        <section>
            <h2>Sobre Este Proyecto</h2>
            <p>Este proyecto se basa en la idea de crear un juego que fomente metodos de transporte limpios.</p>
        </section>
        <section>
            <h2>Como empezar</h2>
            <p>Primero cliquea el boton mi consumo </p>
            <p>ingresar con tus nombre y rol, (asegurate de que el formato del rol sea valido nnnnnnnnn-k)</p>
        </section>
    </main>

    <footer>
        <p>&copy; IWG-PJ1. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
